:root {
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
    --grayish-blue: hsl(220, 15%, 55%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background-color: var(--light-gray);
}

footer { 
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    font-size: 11px;
    text-align: center;
}

footer a { 
    color: hsl(228, 45%, 44%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    max-width: 300px;
    padding: 0.7rem;
    gap: 1rem;
    text-align: center;
    border-radius: 12px;
    padding-bottom: 2.2rem;
}

.card img {
    border-radius: 12px;

}
.card h1 {
    font-size: 1.3rem;
    width: 85%;
    margin: auto;
    color: var(--dark-blue);
}

.card p {
    font-size: 0.9rem;
    width: 85%;
    margin: auto;
    color: var(--grayish-blue);
}
