* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 12%;
    padding: 10px;
    gap: 16px;
    text-align: center;
    border-radius: 12px;
}

.card img {
    border-radius: 12px;

}
.card h1 {
    font-size: 21px;
    width: 85%;
    margin: auto;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-size: 15px;
    width: 85%;
    margin: auto;
    color: hsl(220, 15%, 55%);
}


@media screen and (max-width: 375px) {
    .card {
        max-width: 85%;
    }
}